.App {
  margin: 0;
  padding: 0;
}

.AppHeader {
  height: 5em;
  background-color: gray;
}

thead {
  font-weight: bolder;
  border-bottom: 2px solid black;
}

.sidebar {
  width: 20%;
  display: inline-block;
  background-color: lightgrey;
}

.content {
  width: 80%;
  display: inline-block;
}
