name: Frontend CI
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.3
        with:
          node-version: '10'
      - name: Install Frontend
        run:
          cd frontend/ &&
          npm install &&
          cd ..
      - name: Run Linter
        run:
          cd frontend/ &&
          npm run lint &&
          cd ..